@reference "tailwindcss";
@reference "../../../globals.css";

.root {
  @apply bg-primary text-on-primary cursor-pointer inline-flex px-5 py-5 leading-6 transition ease-in-out duration-150 shadow-sm text-center justify-center uppercase items-center text-sm font-semibold tracking-wide;
  max-height: 64px;
}

.root:hover {
  @apply border-none bg-primary/20;
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}

.secondary {
  @apply bg-secondary text-background;
}

.secondary:hover {
  @apply bg-secondary/90;
}

.root[data-active] {
  @apply bg-primary;
}

.loading {
  @apply bg-accent-1 text-muted cursor-not-allowed;
}

.slim {
  @apply p-2 transform-none normal-case;
}

.ghost {
  @apply border border-border bg-background text-muted text-sm;
}

.ghost:hover {
  @apply border-border bg-accent-9 text-muted;
}

.naked {
  @apply bg-transparent font-semibold border-none shadow-none outline-none p-2 rounded-lg transition;
}

.naked:hover {
  @apply text-on-secondary bg-secondary/20 border-none;
}

.naked:focus {
  @apply bg-transparent border-none outline-none shadow-none;
}

.sm {
  @apply px-4 py-2 text-xs h-auto;
  max-height: 40px;
}

.lg {
  @apply px-14 py-7 text-lg;
  max-height: 80px;
}

.danger {
  @apply text-red hover:bg-red/20;
}

.success {
  @apply text-green hover:bg-green/20;
}

.warning {
  @apply text-amber hover:bg-amber/20;
}

.disabled,
.disabled:hover {
  @apply text-muted border-border bg-accent-1 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
}
