@reference "tailwindcss";
@reference "../../../globals.css";

.root {
  @apply relative flex items-center;
}

.list {
  @apply flex flex-row items-center justify-items-end h-full;
}

.item {
  @apply ml-6 flex items-center relative;
}

.item > button {
  @apply cursor-pointer transition ease-in-out duration-100 outline-none;
}

.item > button:hover {
  @apply transition scale-110 outline-none;
}

.item:first-child {
  @apply ml-0;
}

.item:focus,
.item:active {
  @apply outline-none;
}

.bagCount {
  @apply absolute right-0 bottom-0 bg-secondary/80 text-primary rounded-full flex items-center justify-center text-xs;
  padding-left: 2.5px;
  padding-right: 2.5px;
  min-width: 1.25rem;
  min-height: 1.25rem;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.mobileMenu {
  @apply p-2 rounded-lg flex md:hidden ml-6 text-secondary hover:text-on-secondary hover:bg-secondary/20 ;
}

.avatarButton:focus,
.mobileMenu:focus {
  @apply outline-none;
}

.dropdownDesktop {
  @apply hidden -z-10;
}

@media (min-width: 1024px) {
  .dropdownDesktop {
    @apply block;
  }
  .dropdownMobile {
    @apply hidden;
  }
}
