@reference "tailwindcss";
@reference "../../../globals.css";

.root {
  @apply bg-accent-2;
  animation: none;
  transition: none;
  min-width: 100%;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
