@reference "tailwindcss";
@reference "../../../globals.css";

.root {
  @apply bg-background/60 px-2 py-2 w-full appearance-none transition duration-150 ease-in-out border border-border ;
}

.root:focus {
  @apply outline-none shadow-outline-normal;
}

.rootArea {
  @apply min-h-[120px] bg-background/60 px-2 py-2 w-full appearance-none transition duration-150 ease-in-out border border-border ;
}

.rootArea:focus {
  @apply outline-none shadow-outline-normal;
}

.container {
  @apply flex flex-col  w-full
}

.error{
  @apply border-red-500
}

.errorMessage{
  @apply text-xs text-red-500 font-medium animate-in fade-in slide-in-from-top-1
}


.options {
  @apply bg-background px-2 py-2 w-full appearance-none transition duration-150 ease-in-out border-2 border-border hover:bg-red-400;
}


.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
/* Ensure text doesn't go under the eye icon */
.withIcon {
  padding-right: 40px;
}

.toggleButton {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666; /* Adjust based on your theme */
  padding: 0;
  transition: color 0.2s;
}

.toggleButton:hover {
  color: #000;
}