@reference "tailwindcss";
@reference "../../../globals.css";

.root {
  @apply relative max-h-full w-full box-border overflow-hidden bg-accent-1 bg-no-repeat bg-center bg-cover transition-transform ease-linear cursor-pointer;
  height: 100% !important;

  /* Nested Hover Logic */
  &:hover {
    & .productImage {
      transition: transform 5s cubic-bezier(0.25, 1, 0.5, 1);
      transform: scale(1.1);
    }

    /* Default hover colors */
    & .header .name span,
    & .header .price,
    & .wishlistButton {
      @apply bg-secondary text-on-secondary;
    }

    /* Pattern: 1, 7, 13... */
    &:nth-child(6n + 1) {
      & .header .name span, & .header .price, & .wishlistButton {
        @apply bg-primary text-on-primary;
      }
    }

    /* Pattern: 5, 11, 17... */
    &:nth-child(6n + 5) {
      & .header .name span, & .header .price, & .wishlistButton {
        @apply bg-background text-background;
      }
    }

    /* Pattern: 3, 9, 15... */
    &:nth-child(6n + 3) {
      & .header .name span, & .header .price, & .wishlistButton {
        @apply bg-accent-5 text-background;
      }
    }

    /* Pattern: 6, 12, 18... */
    &:nth-child(6n + 6) {
      & .header .name span, & .header .price, & .wishlistButton {
        @apply bg-accent-9 text-background;
      }
    }
  }

  & .wishlistButton {
    @apply top-0 right-0 z-30 absolute;
  }
}

.header {
  @apply absolute top-0 left-0 z-20 pr-16 transition-colors duration-500 ease-in-out;
  
  & .name {
    @apply max-w-full w-full pt-0 leading-extra-loose transition-colors duration-500 ease-in-out;
    font-size: 2rem;
    letter-spacing: 0.4px;

    & span {
      @apply py-4 px-6 text-primary font-bold transition-colors duration-500 ease-in-out;
    }
  }

  & .price {
    @apply bg-primary text-muted px-6 pt-2 pb-4 text-sm;
  }
}

.imageContainer {
  @apply flex h-full w-full items-center justify-center overflow-hidden;

  & .productImage {
    @apply object-cover;
    transition: transform 0.5s ease-in-out !important;
    will-change: transform;
  }
}

/* Variant Simple */
.simple .header .name {
  @apply mt-1 pt-2 text-lg leading-10;
}

.simple .header .price {
  @apply text-sm;
}

/* Variant Slim */
.slim {
  @apply relative box-border overflow-hidden bg-transparent;

  & .header {
    @apply absolute inset-0 z-20 mr-8 flex items-center justify-end;
  }

  & span {
    @apply bg-accent-9 text-muted inline-block p-3 text-xl font-bold wrap-anywhere;
  }
}