@reference "tailwindcss";
@reference "../../../globals.css";

.root {
  @apply grid grid-cols-1;
}

.root > * {
  @apply row-span-1 bg-transparent box-border overflow-hidden ;
  /* height: 500px;
  max-height: 800px; */
}

.default > * {
  @apply bg-transparent;
}

.layoutNormal {
  @apply gap-0;
}

.layoutA {
  /* First item: Big Feature (2x2) */
  & > *:nth-child(6n + 1) {
    @apply sm:col-span-2 sm:row-span-2;
    min-height: var(--row-height);
  }

  /* Items 2, 3, 4, 6: Small squares (1x1) */
  /* Item 5: Wide or Tall feature to balance the 6th */
  & > *:nth-child(6n + 5) {
    @apply sm:col-span-1 sm:row-span-1; 
  }

  /* Specific background colors for your 'filled' state */
  &.filled {
    & > *:nth-child(6n + 1) { @apply bg-accent-6; }
    & > *:nth-child(6n + 2) { @apply bg-accent-8; }
    & > *:nth-child(6n + 3) { @apply bg-accent-7; }
    & > *:nth-child(6n + 6) { @apply bg-accent-9; }
  }
}

@media (min-width: 768px) {
  .layoutNormal > * {
    max-height: min-content !important;
  }
}

@media (min-width: 640px)  {
  .root {
    @apply grid-cols-3;
  }
  .root > * {
    @apply col-span-1;
    height: inherit;
  }
}