@reference "tailwindcss";
@reference "../../../globals.css";

.root {
  @apply grid grid-cols-1 gap-0 ;
}

.root > * {
  @apply row-span-1 bg-transparent box-border overflow-hidden;
  height: 500px;
  max-height: 800px;
}

.default > * {
  @apply bg-transparent;
}

.layoutNormal {
  @apply gap-3;
}

.layoutA {
  & > *:nth-child(6n + 1),
  & > *:nth-child(6n + 5) {
    @apply row-span-2 sm:col-span-2;
    height: var(--row-height);
  }
  &.filled {
    & > *:nth-child(6n + 1) {
      @apply bg-accent-6;
    }
    & > *:nth-child(6n + 2) {
      @apply bg-accent-8;
    }
    & > *:nth-child(6n + 3) {
      @apply bg-accent-7;
    }
    & > *:nth-child(6n + 6) {
      @apply bg-accent-9;
    }
  }
}

@media (min-width: 768px) {
  .layoutNormal > * {
    max-height: min-content !important;
  }
}

@media (min-width: 640px)  {
  .root {
    @apply grid-cols-3 grid-rows-2;
  }
  .root > * {
    @apply col-span-1;
    height: inherit;
  }
}